################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GenericTensor/obj
/GenericTensor/.vs/GenericTensor/v16
/GenericTensor/.vs/GenericTensor/DesignTimeBuild
/GenericTensor/bin/Debug/netstandard2.0
/GenericTensor/packages
/Sample/bin/Debug/netcoreapp3.1
/Sample/obj
/UnitTests/bin/Debug
/UnitTests/obj/Debug
/UnitTests/obj
/Benchmark/bin/Debug/netcoreapp3.1
/Benchmark/obj
/Benchmark/bin/Release/netcoreapp3.1/amd64
/Benchmark/bin/Release/netcoreapp3.1/BenchmarkDotNet.Artifacts
/Benchmark/bin/Release/netcoreapp3.1
/GenericTensor/bin/Release/netstandard2.0
/Sample/bin/Release/netcoreapp3.1
/UnitTests/bin/Release/netcoreapp3.0
/GenericTensor/bin/Release
/GenericTensor/bin/Debug
/UnitTests/bin/Release/netcoreapp3.1
